@keyframes flicker {
    0% {
        opacity: 0.27;
    }

    5% {
        opacity: 0.34;
    }

    10% {
        opacity: 0.23;
    }

    15% {
        opacity: 0.9;
    }

    20% {
        opacity: 0.18;
    }

    25% {
        opacity: 0.83;
    }

    30% {
        opacity: 0.65;
    }

    35% {
        opacity: 0.67;
    }

    40% {
        opacity: 0.26;
    }

    45% {
        opacity: 0.84;
    }

    50% {
        opacity: 0.96;
    }

    55% {
        opacity: 0.08;
    }

    60% {
        opacity: 0.2;
    }

    65% {
        opacity: 0.72;
    }

    70% {
        opacity: 0.53;
    }

    75% {
        opacity: 0.37;
    }

    80% {
        opacity: 0.71;
    }

    85% {
        opacity: 0.7;
    }

    90% {
        opacity: 0.71;
    }

    95% {
        opacity: 0.36;
    }

    100% {
        opacity: 0.24;
    }
}

@keyframes textShadow {
    0% {
        text-shadow: 0.439px 0 1px rgba(0, 196, 42, 0.5), -0.439px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    5% {
        text-shadow: 2.79px 0 1px rgba(0, 196, 42, 0.5), -2.79px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    10% {
        text-shadow: 0.029px 0 1px rgba(0, 196, 42, 0.5), -0.029px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    15% {
        text-shadow: 0.402px 0 1px rgba(0, 196, 42, 0.5), -0.402px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    20% {
        text-shadow: 3.48px 0 1px rgba(0, 196, 42, 0.5), -3.48px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    25% {
        text-shadow: 1.61px 0 1px rgba(0, 196, 42, 0.5), -1.61px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    30% {
        text-shadow: 0.702px 0 1px rgba(0, 196, 42, 0.5), -0.702px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    35% {
        text-shadow: 3.9px 0 1px rgba(0, 196, 42, 0.5), -3.9px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    40% {
        text-shadow: 3.87px 0 1px rgba(0, 196, 42, 0.5), -3.87px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    45% {
        text-shadow: 2.25px 0 1px rgba(0, 196, 42, 0.5), -2.25px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    50% {
        text-shadow: 0.08px 0 1px rgba(0, 196, 42, 0.5), -0.08px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    55% {
        text-shadow: 2.38px 0 1px rgba(0, 196, 42, 0.5), -2.38px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    60% {
        text-shadow: 2.2px 0 1px rgba(0, 196, 42, 0.5), -2.2px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    65% {
        text-shadow: 2.86px 0 1px rgba(0, 196, 42, 0.5), -2.86px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    70% {
        text-shadow: 0.48874025155497314px 0 1px rgba(0, 196, 42, 0.5), -0.48874025155497314px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    75% {
        text-shadow: 1.895px 0 1px rgba(0, 196, 42, 0.5), -1.895px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    80% {
        text-shadow: 0.08px 0 1px rgba(0, 196, 42, 0.5), -0.08px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    85% {
        text-shadow: 0.098px 0 1px rgba(0, 196, 42, 0.5), -0.098px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    90% {
        text-shadow: 3.44px 0 1px rgba(0, 196, 42, 0.5), -3.44px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    95% {
        text-shadow: 2.18px 0 1px rgba(0, 196, 42, 0.5), -2.18px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }

    100% {
        text-shadow: 2.62px 0 1px rgba(0, 196, 42, 0.5), -2.62px 0 1px rgba(16, 82, 0, 0.3), 0 0 3px;
    }
}

.crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2000;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2000;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

.crt {
    animation: textShadow 1.6s infinite;
}

.frame {
    background-color: #383838;
    border-radius: 2em;
    border: 1rem solid;
    border-bottom-color: #121212;
    border-left-color: #252525;
    border-right-color: #252525;
    border-top-color: #575757;
    box-shadow:
        inset 0 0 18rem black,
        inset 0 0 3rem black,
        0 0 10rem black;
    position: absolute;
    top: 2%;
    left: 2%;
    width: 93%;
    height: 90vh;
    z-index: 100;
}

.gameEnd_frame {
    background-color: #242424d0;
    border-radius: 2em;
    border: 1rem solid;
    border-bottom-color: #121212;
    border-left-color: #252525;
    border-right-color: #252525;
    border-top-color: #575757;
    box-shadow: inset 0 0 18rem black,
    inset 0 0 3rem black,
    0 0 10rem black;
    position: fixed;
    top: 2%;
    left: 2%;
    width: 93%;
    height: 90vh;
    z-index: 100;
}